<p>tdf works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-md-4 offset-4 mt-5">
     <form action=""#loginform='ngForm' (ngSubmit)='printform(loginform)'>
         <legend class="text-center">Login form</legend>
         <div class="form-group">
             <label for="username">username</label>
             <input type="email" placeholder="username" name="username" class="form-control" minlength="5" #username='ngModel' ngModel required email>
         </div>
     
         <div *ngIf='username.touched && username.invalid'>
             <div class="alert alert-danger" *ngIf='username.errors.email'> input field takes only email</div>
             <div class="alert alert-danger" *ngIf='username.errors.minlength'>minlength is 5</div>
         </div>
     
         <div class="form-group">
                 <label for="password">password</label>
                 <input type="password" placeholder="password" name="password" class="form-control" required minlength="5" #password='ngModel' ngModel pattern="nikhil">
             </div>
     
             <div *ngIf='password.touched && password.invalid'>
                 <div class="alert alert-danger" *ngIf='password.errors.pattern'>pattern  not matched</div>
                 <div class="alert alert-danger" *ngIf='password.errors.minlength'>password  must be minimum 5 characters</div>
             </div>
     
             <div class=" text-center ">
             <button type="reset" class="btn btn-primary" >reset</button>
             <button type="submit" class="btn btn-success ml-3" >submit</button>
         </div>
     </form>
     </div>
     </div> 
     <!-- 
     <div class="container">
         <table class="table table-hover table-bordered table-dark">
             <thead>
                 <tr>
                     <th>index</th>
                     <th>username</th>
                     <th>password</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor = 'let user of users; index as i'>
                     <td>{{i}}</td>
                     <td>{{user.username}}</td>
                     <td>{{user.password}}</td>
                 </tr>
             </tbody>
         </table>
     
     </div> -->
     
     
</body>
</html>